{% extends "base.html" %}

{% block content %}
	<form method="post">
		<label>
			<div>Edit the post title:</div>
			<input class="submission-subject-input" type="text" name="subject" value="{{ submission.subject }}">
		</label>

		<label>
			<div>Edit the post content:</div>
			<textarea class="submission-content-input" name="content">{{ submission.content }}</textarea>
		</label>

		<div class="error">{{ error }}</div>

		<input class="submit" type="submit" value="Edit">
		<a class="link" href={{ '/%s' % (submission.key().id())|string() }}>Cancel</a>
	</form>
{% endblock %}