<!DOCTYPE html>
<html>
	<head>
		<link href="/static/main.css" rel="stylesheet">
		<title>ee cummings | poetry blog</title>
	</head>
	<body>
		<div class="float-right">
				<a class="link" href="/login">Login</a>
				<a class="link" href="/logout">Logout</a>
			</div>
		<div class="container">
			<header>
				<a href="/" class="main-title">
					ee cummings poetry blog
				</a>
			</header>

			<div id="content">
				<img class="cover-img" src="http://images.barnesandnoble.com/pImages/bn-review/2014/0127/EECummings_AF.jpg" alt="ee cummings">
				<a class="link" href="/newpost">Want to contribute?  Create a new entry here.</a>
				<br>
				<br>
				{% for submission in submissions %}
					{{ submission.render() | safe }}
					<br>
					<br>
				{% endfor %}
			</div>
		</div>

	</body>
</html>