{% extends "base.html" %}

{% block content %}
<form method="post">
	<label>
		<div>Add a new post title:</div>
		<input class="submission-subject-input" type="text" name="subject" value="{{ subject }}">
	</label>

	<label>
		<div>Add new post content:</div>
		<textarea class="submission-content-input" name="content">{{ content }}</textarea>
	</label>

	<div class="error">{{ error }}</div>

	<input class="submit" type="submit" value="Create">
	<a class="link" href="/">Cancel</a>
</form>
{% endblock %}