<!DOCTYPE html>
<html>
	<head>
		<link href="/static/main.css" rel="stylesheet">
		<title>ee cummings | poetry blog</title>
	</head>
	<body>
		<a class="link" href="/">Back To All Posts</a>
		<div class="container">
			<header>
				<a href="/" class="main-title">
					ee cummings poetry blog
				</a>
			</header>

			<div id="content">
				<p>Already registered?  <a href="/login">Login here</a></p>
				<h2>Signup here</h2>
				<div class="error">{{ error }}</div>
				<form method="post">
					<label> Username
						<input type="text" name="username" value="{{ username }}">
						<span class="error">{{ username_error }}</span>
					</label>
					<label> Password
						<input type="password" name="password" value="">
						<span class="error">{{ password_error }}</span>
					</label>
					<label> Verify Password
						<input type="password" name="verify" value="">
						<span class="error">{{ verify_error }}</span>
					</label>
					<label> Email (optional)
						<input type="text" name="email" value="{{ email }}">
						<span class="error">{{ email_error }}</span>
					</label>
					<br>
					<input class="submit" type="submit">
					<a class="link" href="/">Cancel</a>

				</form>
			</div>
		</div>

	</body>
</html>